* {
  box-sizing: border-box;
}

.titulo {
  font-size: 32px;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 30px;
  color: white;
  text-align: center;
}

.ocultar {
  display: none;
}

.toggle {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 90%;
  max-width: 500px;
  background-color: rgb(237, 207, 150);
  border-radius: 5px;

}
.inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 30px;
}


.fa-cart-shopping {
  color: black;
}

#tablaEntera {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

#tablaEntera td {
  border-bottom: 1px solid gray;
  padding: 1.0rem;
}

.thumbnail {
  width: 100%;
  max-width: 50px;
  height: auto;
}

.cardIndex {
  background-color: rgb(199, 199, 199);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 60px;
  padding: 50px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}

.card-img {
  height: 150px;
  object-fit: contain;
  width: 100%;
}

.card-title {
  color: rgb(55, 54, 54);
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.divEstrella {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.divEstrella img {
  height: 40px;
  width: 40px;
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  
  .cardIndex {
    margin: 20px;
    padding: 30px;
  }
  
  .card-title {
    font-size: 24px;
  }
  
  .divEstrella {
    margin-top: 30px;
    margin-bottom: 5px;
  }
  
  .divEstrella img {
    height: 30px;
    width: 30px;
  }
  
  #tablaEntera td {
    padding: 0.8rem;
  }
}

@media (max-width: 576px) {
  /* Styles for screens smaller than 576px */
  
  .inicio {
    padding: 20px;
  }
  
  .thumbnail {
    max-width: 30px;
  }
  
  .cardIndex {
    margin: 10px;
    padding: 20px;
    max-width: 100%;
  }
  
  .card-title {
    font-size: 20px;
  }
  
  .divEstrella {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .divEstrella img {
    height: 25px;
    width: 25px;
  }
  
  #tablaEntera td {
    padding: 0.6rem;
  }
}

